<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>khana</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Logged</servlet-name>
    <servlet-class>Logged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logged</servlet-name>
    <url-pattern>/Logged</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profileSer</servlet-name>
    <servlet-class>profileSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileSer</servlet-name>
    <url-pattern>/profileSer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logoutSer</servlet-name>
    <servlet-class>logoutSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutSer</servlet-name>
    <url-pattern>/logoutSer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegSec</servlet-name>
    <servlet-class>RegSec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegSec</servlet-name>
    <url-pattern>/RegSec</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>changeSer</servlet-name>
    <servlet-class>changeSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeSer</servlet-name>
    <url-pattern>/changeSer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>changeESer</servlet-name>
    <servlet-class>changeESer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeESer</servlet-name>
    <url-pattern>/changeESer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>

<servlet>
<servlet-name>changeAns</servlet-name>
<servlet-class>changeAns</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>changeAns</servlet-name>
<url-pattern>/changeAns</url-pattern>
</servlet-mapping>
</web-app>